* {
    padding: 0;
    margin: 0;
}

header {
    grid-area: cabecalho;
}

nav {
    grid-area: navegacao;
}

main {
    grid-area: conteudo;
}

footer {
    grid-area: rodape;
}

body {
    display: grid;
    min-height: 100vh; /* Ocupa a altura inteira da tela */
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: 
        "cabecalho cabecalho"
        "navegacao conteudo"
        "rodape rodape";
}