.flex-container {
    display: flex;
}

.flex-container div {
    flex-basis: 100px; /* Aplica o tamanho de 100 pixels á um elemento baseado na orientação da flex. Esta propriedade é mais forte que "width"/"height" */
}

.flex-container div:nth-child(4) {
    /* Propriedade shortcut: flex */
    flex: 3 6 100px; /* Ordem: grow, shrink, basis */
}